html
    head
        title All player
    body
        h1 All player
        table
            tr
                th Id
                th Name
                th Email
                th gameWin
                th gameLost
                th CreatedAt

            each player in all
                tr
                    td= player.id
                    td= player.name
                    td= player.email
                    td= player.gameWin
                    td= player.gameLost
                    td= player.createdAt
                    


